.articlePageWrapper {
  min-height: 74vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #f4c9b0;
  padding-top: 10vh;
  padding-bottom: 30vh;
  .headingArticle {
    // text-align: center;
    position: fixed;
    // margin: 10vh 0;
    font-weight: 700;
    letter-spacing: 2.22px;
    // margin-bottom: 5vh;
    margin: 30vh 12vw;
    // margin-bottom: 20px;
    // margin-top: 30vh;
    top: 58px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 96px;
    color: #2d0000;
    // margin-top: -50px;
    @media (max-width: 1450px) {
      font-size: 52px;
    }
    @media (max-width: 1050px) {
      position: relative;
      margin: 0;
      margin-top: 20vw;
      margin-left: 8vw;
      top: 0;
    }
    &::before {
      // margin-left: 35vw;
      content: "";
      width: 168px;
      height: 12px;
      // margin-bottom: 48px;
      background: rgba(45, 0, 0, 0.64);
      position: absolute;
      top: -38px;
      @media (max-width: 900px) {
        font-size: -30px;
      }
    }
    &::after {
      content: "";
      left: 0;
      bottom: 10px;
      position: absolute;
      height: 2px;
      background-color: #2d0000;
      width: 17rem;
      @media (max-width: 1450px) {
        width: 12.5rem;
        bottom: 20px;
        // top: -20px;
      }
    }
  }
}

.articleContentGrid {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px 30px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20vh;
  margin-left: 20vw;

  .articleContentWrapper {
    max-width: 261px;
    overflow: hidden;
    img {
      border-radius: 16px;
    }
  }

  .articleContent {
    // padding-left: 0;
    p {
      margin-top: 12px;
      strong {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 17px;
        color: #2d0000;
      }
    }
    .title {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      color: #2d0000;
      margin-top: 16px;
      // max-width: 261px;
      // margin-left: 10px;
    }
    .caption {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: rgba(45, 0, 0, 0.64);
      margin-top: 16px;
      // max-width: 261px;
    }
  }
  @media (max-width: 1300px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 660px) {
    grid-template-columns: 1fr;
  }
  @media (max-width: 1050px) {
    margin-left: 8vw;
    margin-top: 30px;
  }
}
